<header class="header">
    <section class="header__inner">
        <section class="header__item header__1">
            <Header::Brand />
        </section>

        <section class="header__item header__2">
            <Header::NavMenu />
        </section>

        <section class="header__item header__3">
            <Header::ThemeSwitcher @onThemeSwitcherClick={{@onThemeSwitcherClick}} />
        </section>
    </section>
</header>
