<table>
    <tr>
        <th {{on "click" (fn @onHeaderClick 'id')}}>id</th>
        <th {{on "click" (fn @onHeaderClick 'firstName')}}>First name</th>
        <th {{on "click" (fn @onHeaderClick 'lastName')}}>Last name</th>
        <th></th>
   </tr>

    {{#each @players as |player|}}
        {{#if player.id}}
            <Players::Player @player={{player}}/>
        {{/if}}
    {{/each}}
</table>
