<table>
    <tr>
        <th>User ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th></th>
   </tr>

    {{#each @players as |player|}}
        {{#if player.id}}
            <Players::Player @player={{player}}/>
        {{/if}}
    {{/each}}
</table>
