<table>
    <tr>
        <th><button {{on "click" (fn @onHeaderClick 'id')}}>Player id</button></th>
        <th><button {{on "click" (fn @onHeaderClick 'firstName')}}>First name</button></th>
        <th><button {{on "click" (fn @onHeaderClick 'lastName')}}>Last name</button></th>
        {{!-- <th>createdAt</th> --}}
        {{!-- <th>updatedAt</th> --}}
        <th></th>
   </tr>

    {{#each @players as |player|}}
        {{#if player.id}}
            <Players::Player @player={{player}}/>
        {{/if}}
    {{/each}}
</table>
