<table>
    <tr>
        <th>Team ID</th>
        <th>Team name</th>
        {{!-- <th>createdAt</th> --}}
        {{!-- <th>updatedAt</th> --}}
        <th></th>  
   </tr>
 
    {{#each @teams as |team|}}
        {{#if team.id}}
            <Teams::Team @team={{team}} @onDelete={{@onDelete}}/>
        {{/if}}
    {{/each}}
</table>