<div>
    <label for="teamName">Team name:</label>
    <span>{{@team.teamName}}</span>
</div>

<button>
    <LinkTo @route="teams.update" @model={{@team.id}}>Update</LinkTo>
</button>
<button {{on "click" (fn @onDelete @team.id)}}>Delete</button>