@import url(https://fonts.googleapis.com/css?family=Lato:300,300italic,400,700,700italic);

* {
  font-size: 20px;
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
label,
input,
button {
  font-family: 'Lato', 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

body {
  background-color: lightgray;
}