.filter-group {
    align-items: center;
    display: flex;
    flex-direction: row;

    .filter-field-group,
    .filter-value-group {
        background-color: white;
        border: 1px solid black;
        display: inline-flex;
        margin-right: 20px;
        position: relative;

        .filter-group-input {
            border: none;
            font-size: 15px;
            outline: 0;
            padding: 20px 5px 5px 5px;

            &:focus+.filter-group-label,
            &:valid+.filter-group-label {
                color: gray;
                transform: translate(0, 2px) scale(0.9);
                transition: all 0.3s ease;
            }
        }

        .filter-group-label {
            font-size: 16px;
            left: 5px;
            position: absolute;
            top: 0;
            transform: translate(0, 20px) scale(1);
            transform-origin: top left;
            transition: all 0.3s ease;
        }
    }

    .filter-group-button {
        background-color: transparent;
        margin-right: 20px;
        padding: 10px 30px;

        &:hover {
            background-color: lightgray;
        }
    }
}
