.filter-group {
    align-items: center;
    display: flex;
    flex-direction: row;

    .filter-field-group {
        background-color: white;
        border: 1px solid black;
        display: inline-flex;
        margin-right: 20px;
        position: relative;

        .ember-view {
            border: none;
            display: flex;
            min-height: 21px;
            outline: none;
            padding: 20px 5px 5px 5px;
            width: 290px;

            &.ember-basic-dropdown-trigger--below+.ember-power-select-placeholder {
                color: gray;
                transform: translate(0, 2px) scale(0.9);
                transition: all 0.3s ease;
            }

            .ember-power-select-placeholder {
                color: black;
                font-size: 16px;
                left: 5px;
                line-height: 21px;
                margin: 0;
                position: absolute;
                top: 0;
                transform: translate(0, 20px) scale(1);
                transform-origin: top left;
                transition: all 0.3s ease;
            }

            .ember-power-select-selected-item {
                display: inline-flex;
                font-size: 15px;
                align-items: flex-end;
                line-height: 15px;
                margin-left: 0;
                vertical-align: bottom;
            }
        }
    }
}
