.menu-group {
    background-color: white;
    border-bottom: 1px solid black;
    font-size: 20px;
    height: 55px;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;

    .menu-group-list {
        align-items: center;
        display: flex;
        flex-direction: row;
        height: inherit;

        .menu-group-item {
            display: inline-flex;
            list-style: none;
            position: relative;

            &:hover > .menu-dropdown-list {
                outline: 1px solid black;
                display: flex;
                flex-direction: column;
                visibility: visible;
            }

            .menu-dropdown-list {
                background-color:white;
                display: none;
                left: 0;
                margin-top: 56px;
                position: absolute;
                width: 100%;
                visibility: hidden;

                &:hover {
                    display: flex;
                    flex-direction: column;
                    height: inherit;
                    visibility: visible;
                }

                .menu-dropdown-item {
                    display: inline-flex;
                    clear: both;
                    list-style: none;
                }
            }
        }
    }

    a {
        color: black;
        padding: 14px 20px;
        text-decoration: none;
        text-transform: uppercase;
        transition: all 0.5s ease;
        width: 100%;

        &:hover {
            background-color:lightgray;
            cursor: pointer;
        }
    }
}
