.pagination-group {
    background-color: transparent;
    display: flex;
    margin-top: 3vh;

    .page-group {
        display: flex;
        font-size: 20px;
        height: 40px;
        line-height: 20px;

        .page-group-list {
            display: flex;
            flex-direction: row;

            .page-group-item {
                color: black;
                cursor: pointer;
                display: block;
                float: left;
                list-style: none;
                padding: 10px 15px;
                transition: all 0.5s ease;

                &:hover:not(.active) {
                    background-color:lightgray;
                }

                &:hover.inactive {
                    background-color: transparent;
                }

                &.active {
                    background-color:gray;
                    color: white;
                    cursor: default;
                }

                &.inactive {
                    color: lightgray;
                    cursor: default;
                }
            }
        }
    }

    .limit-group {
        display: flex;
        font-size: 20px;
        height: 40px;
        line-height: 20px;
        margin-left: auto;

        .limit-group-list {
            display: flex;
            flex-direction: row;

            .limit-group-item {
                color: black;
                cursor: pointer;
                display: block;
                float: left;
                list-style: none;
                padding: 10px 15px;
                transition: all 0.5s ease;

                &:hover:not(.active) {
                    background-color:lightgray;
                }

                &.active {
                    background-color:gray;
                    color: white;
                    cursor: default;
                }
            }
        }
    }
}
