.pagination-group {
    background-color: transparent;
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    height: 39px;
    margin-top: 20px;

    .page-group {
        display: inline-flex;

        .page-group-list {
            align-items: center;
            display: flex;
            flex-direction: row;

            .page-group-item {
                color: black;
                cursor: pointer;
                list-style: none;
                padding: 6px 15px;
                transition: all 0.5s ease;

                &:hover:not(.active) {
                    background-color:lightgray;
                }

                &:hover.inactive {
                    background-color: transparent;
                }

                &.active {
                    background-color:gray;
                    color: white;
                    cursor: default;
                }

                &.inactive {
                    color: lightgray;
                    cursor: default;
                }
            }
        }
    }

    .limit-group {
        display: inline-flex;

        .limit-group-list {
            align-items: center;
            display: flex;
            flex-direction: row;

            .limit-group-item {
                color: black;
                cursor: pointer;
                list-style: none;
                padding: 6px 15px;
                transition: all 0.5s ease;

                &:hover:not(.active) {
                    background-color:lightgray;
                }

                &.active {
                    background-color:gray;
                    color: white;
                    cursor: default;
                }
            }
        }
    }
}
