<section class="filter-input-group">
    <section class="field-input-group">
        <Input id="id-1" class="group-input" type="text" @value={{@field}} required />
        <label for="id-1" class="group-label">Filter field</label>
    </section>

    <section class="value-input-group">
        <Input id="id-2" class="group-input" type="text" @value={{@value}} required />
        <label for="id-2" class="group-label">Filter value</label>
    </section>

    <button class="group-button" {{on "click" (fn @onFilterClick)}}>Filter</button>
</section>
