<nav class="menu-group">
    <ul class="menu-group-list">
        <li class="menu-group-item">
            <LinkTo @route="index">Home</LinkTo>
        </li>

        <li class="menu-group-item"><a>Models</a>
            <ul class="menu-dropdown-list">
                <li class="menu-dropdown-item">
                    <LinkTo @route="players">Players</LinkTo>
                </li>

                <li class="menu-dropdown-item">
                    <LinkTo @route="teams">Teams</LinkTo>
                </li>

                <li class="menu-dropdown-item">
                    <LinkTo @route="users">Users</LinkTo>
                </li>
            </ul>
        </li>

        <li class="menu-group-item">
            <LinkTo @route="contacts">Contacts</LinkTo>
        </li>

        <li class="menu-group-item">
            <LinkTo @route="about">About</LinkTo>
        </li>
    </ul>
</nav>
