<nav class="top">

    <LinkTo @route="index">
        <h1>MMFutsal</h1>
    </LinkTo>

    <div class="top-links">

        <LinkTo @route="about">
            About
        </LinkTo>

        <LinkTo @route="users">
            Users
        </LinkTo>

        <LinkTo @route="contacts">
            Contacts
        </LinkTo>

    </div>

</nav>