<nav>
    <LinkTo @route="index">Home</LinkTo>
    <LinkTo @route="players">Players</LinkTo>
    <LinkTo @route="teams">Teams</LinkTo>
    <LinkTo @route="users">Users</LinkTo>
    <LinkTo @route="contacts">Contacts</LinkTo>
    <LinkTo @route="about">About</LinkTo>

    <div class="animation"></div>
</nav>
