<nav class="menu">

    <LinkTo @route="index" class="menu-index">
        <h1>MMFutsal</h1>
    </LinkTo>

    <div class="links">

        <LinkTo @route="about" class="menu-about">
            About
        </LinkTo>

        <LinkTo @route="users" class="menu-users">
            Users
        </LinkTo>

        <LinkTo @route="contacts" class="menu-contacts">
            Contacts
        </LinkTo>

    </div>

</nav>