<table>

    <tr>
        <th>id</th>
        <th>userName</th>
        <th>firstName</th>
        <th>lastName</th>
        <th>email</th>
        <th>telephone</th>
        <th>createdAt</th>
   </tr>
 
        {{#each @users as |user|}}
            <User @user={{user}}/>
        {{/each}}

</table>