<h3>TEAM CREATE</h3>

<ValidatedInputGroup
    @label="TEAM NAME"
    @placeholder="Please, enter team name!"
    @type="text"
    @value={{model.teamName}}
    @validationError={{model.validations.attrs.teamName.message}} />

<button {{on "click" this.create}}>Create</button>
