<h3>TEAM UPDATE</h3>

<ValidatedInputGroup
    @label="TEAM NAME"
    @placeholder="Please, enter team name!"
    @type="text"
    @value={{model.teamName}}
    @validationError={{model.validations.attrs.teamName.message}} />

<button {{on "click" this.update}}>Update</button>
