<h3>team update</h3>

<ValidatedInputGroup
    @label="team name"
    @type="text"
    @value={{model.teamName}}
    @placeholder="Enter team name"
    @validationError={{model.validations.attrs.teamName.message}} />

<button {{on "click" this.update}}>Update</button>
