<table>
    <tr>
        <th>User ID</th>
        <th>Season name</th>
        <th>Start year</th>
        <th>End year</th>
        <th></th>
   </tr>

    {{#each @seasons as |season|}}
        {{#if season.id}}
            <Seasons::Season @season={{season}}/>
        {{/if}}
    {{/each}}
</table>
