.player-info {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.player-info .player-info__top {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid white;
}
.player-info .player-info__top .player__avatar img {
  height: 150px;
  width: 150px;
}



.player-info .player-info__top .player__firstname,
.player-info .player-info__top .player__lastname {
  display: flex;
}
.player-info .player-info__top .player__firstname label,
.player-info .player-info__top .player__lastname label {
  min-width: 100px;
  font-weight: 1;
}
.player-info .player-info__bottom {
  display: flex;
  flex-direction: column;
}
.player-info .player-info__bottom .season-section {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.player-info .player-info__bottom .season-section .season__name {
  min-width: 150px;
  font-weight: 1;
  margin-bottom: 10px;
}
.player-info .player-info__bottom .season-section .team-section {
  margin: 0 30px 10px;
  padding: 5px;
  border: 1px solid white;
}
.player-info .player-info__bottom .season-section .team-section .team-tag {
  margin-bottom: 10px;
}
.player-info .player-info__bottom .season-section .team-section .result-section {
  display: flex;
  justify-content: space-around;
  padding: 0 30px;
}
