<section class="page">
    <section class="page__inner">
        <Page::Wrapper @bestPlayers={{@bestPlayers}} @onBestPlayerClick={{@onBestPlayerClick}}>
            {{yield}}
        </Page::Wrapper>
    </section>
</section>
