<section class="wrapper">
    <section class="wrapper__item wrapper__1">
        <Page::Wrapper::PanelTop @bestPlayers={{@bestPlayers}} @onBestPlayerClick={{@onBestPlayerClick}} />
    </section>
    <section class="wrapper__item wrapper__2">
        <Page::Wrapper::PanelCenter>
            {{yield}}
        </Page::Wrapper::PanelCenter>
    </section>
    <section class="wrapper__item wrapper__3"></section>
</section>
