<section class="wrapper">
    <section class="wrapper__item wrapper__1">
        <Page::Wrapper::PanelTop />
    </section>

    <section class="wrapper__item wrapper__2">
        <Page::Wrapper::PanelCenter>
            {{yield}}
        </Page::Wrapper::PanelCenter>
    </section>

    <section class="wrapper__item wrapper__3">
        {{!-- <Page::Wrapper::PanelBottom /> --}}
    </section>
</section>
