.input-section {
    $padding-top: 0.3em;
    $padding-right: 0.5em;
    $font-size: 20px;
    $transition-time: 0.5s;

    display: inline-flex;
    margin: 0.7em 0.2em 0.2em;
    background-color: white;
    font-size: $font-size;

    .input {
        padding: $padding-top $padding-right;
        font-size: $font-size;

        &:focus {
            outline: 1px solid black;
            transition: outline-color $transition-time ease;
        }

        &:focus + .label,
        &:valid + .label {
            padding: 0 0.5em;
            background-color: white;
            border: 1px solid black;
            border-radius: 10px;
            box-shadow: 0.2em 0.2em 0.2em 0 $gray-6;
            color: black;
            cursor: default;
            transform: translate(0.5em, -0.6em) scale(0.6);
            transition: all $transition-time ease;
        }
    }

    .input-border {
        border: none;
        outline: 1px solid $gray-5;
        transition: outline-color $transition-time ease;
    }

    .label {
        padding: $padding-top $padding-right;
        font-size: $font-size;
        color: $gray-5;
        transform: translate(0, 0) scale(1);
        transform-origin: top left;
        transition: all $transition-time ease;

        &:hover {
            cursor: text;
        }
    }

    .label-absolute {
        position: absolute;
        left: 0;
        top: 0;
    }
}

.input-section-relative {
    position: relative;
}
