.menu-section {
    $padding-top: 0.8em;
    $padding-right: 0.8em;
    $transition-time: 0.5s;

    background-color: white;
    border-bottom: 1px solid $gray-5;
    font-size: 20px;
    z-index: 2;

    .list {
        display: flex;
        flex-direction: row;
        align-items: center;

        .item {
            display: inline-flex;
            list-style: none;
            padding: $padding-top $padding-right;
            text-transform: uppercase;
            transition: all $transition-time ease;

            &:hover {
                cursor: pointer;
            }
            
            &:hover:not(.active) {
                background-color: $gray-1;
                transition: all $transition-time ease;
            }

            &:hover > .dropdown-list {
                display: flex;
                flex-direction: column;
                visibility: visible;
                outline: 1px solid $gray-5;
            }

            .dropdown-list {
                display: none;
                visibility: hidden;
                background-color:white;
                width: 100%;

                &:hover {
                    display: flex;
                    flex-direction: column;
                    visibility: visible;
                }

                .dropdown-item {
                    display: inline-flex;
                    clear: both;
                    list-style: none;
                    padding: $padding-top 0.8em;
                    transition: all $transition-time ease;

                    &:hover {
                        background-color: $gray-1;
                        cursor: pointer;
                        transition: all $transition-time ease;
                    }
                }
            }

            .dropdown-list-absolute {
                position: absolute;
                left: 0;
                top: 2.98em;
            }
        }

        .item-relative {
            position: relative;
        }

        .active {
            background-color: $gray-2;
        }
    }
}

.menu-section-fixed {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}
