<section class="panel panel__top">
    <h1 class="panel__title">Best players of the week</h1>
    <section class="panel__list">
        <Page::Wrapper::PanelTop::Card />
        <Page::Wrapper::PanelTop::Card />
        <Page::Wrapper::PanelTop::Card />
        <Page::Wrapper::PanelTop::Card />
        <Page::Wrapper::PanelTop::Card />
        <Page::Wrapper::PanelTop::Card />
        <Page::Wrapper::PanelTop::Card />
        <Page::Wrapper::PanelTop::Card />
        <Page::Wrapper::PanelTop::Card />
        <Page::Wrapper::PanelTop::Card />
    </section>
</section>
