<section class="panel__center">
    <section class="panel__item sidebar__left">
        <Page::Wrapper::PanelCenter::SidebarLeft />
    </section>
    <section class="panel__item sidebar__center">
        <Page::Wrapper::PanelCenter::SidebarCenter>
            {{yield}}
        </Page::Wrapper::PanelCenter::SidebarCenter>
    </section>
    <section class="panel__item sidebar__right">
        <Page::Wrapper::PanelCenter::SidebarRight />
    </section>
</section>
