<section class="card">
    <img class="card__foto" src="https://us.123rf.com/450wm/ikonstudio/ikonstudio1503/ikonstudio150300008/38617380-black-icon-of-anonymous-spy-agent-searching-on-laptop-.jpg?ver=6">
    <p class="card__player">name</p>
    <p class="card__team">team</p>
</section>
