<section class="card">
    <img class="card__foto" src={{@player.avatar}}>
    <p class="card__player">{{@player.firstName}} {{@player.lastName}}</p>
    <p class="card__team">{{@player.teamName}}</p>
</section>
