:root {
    --color-text-dark: white;
    --color-dark-1: rgb(30, 30, 30);
    --color-dark-2: rgb(40, 40, 40);
    --color-dark-3: rgb(50, 50, 50);
    --color-dark-4: rgb(60, 60, 60);
    --color-dark-5: rgb(70, 70, 70);
    --color-dark-6: rgb(80, 80, 80);
    --color-dark-7: rgb(90, 90, 90);
    --color-dark-8: rgb(100, 100, 100);
    --color-dark-9: rgb(110, 110, 110);
    --color-dark-10: rgb(120, 120, 120);
    --color-dark-black: black;

    --color-text-light: black;
    --color-light-1: rgb(130, 130, 130);
    --color-light-2: rgb(140, 140, 140);
    --color-light-3: rgb(150, 150, 150);
    --color-light-4: rgb(160, 160, 160);
    --color-light-5: rgb(170, 170, 170);
    --color-light-6: rgb(180, 180, 180);
    --color-light-7: rgb(190, 190, 190);
    --color-light-8: rgb(200, 200, 200);
    --color-light-9: rgb(210, 210, 210);
    --color-light-10: rgb(220, 220, 220);
    --color-light-white: white;
}
