<section class="tag-switcher">
    <p class="tag-switcher__item" {{on "click" @onResetClick}}>
        all
    </p>

    {{#each @model.sections as |section|}}
        <p class="tag-switcher__item" {{on "click" (fn @onItemClick section.name)}}>
            {{section.name}}
        </p>
    {{/each}}
</section>
