<MenuSection />

<section class="grid-column grid-column-fixed grid-column-left">
    <p>left</p>
</section>

<section class="wrapper wrapper-border wrapper-shadow">
    {{outlet}}
</section>

<section class="grid-column grid-column-fixed grid-column-right">
    <p>right</p>
</section>
